.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #f7f7f7;
  color: #545454;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.footer-icon {
  fill: #ff6b08;
  padding: 0 5px;
}

.footer-link {
    color: inherit;
}