.container {
  max-width: 320px;
  margin: 0 auto;
  background-color: $white;
}

.gallery-cards {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  margin: 0 auto;
}

.film-card {
  width: 280px;
  height: 443px;
  background-color: $white;
  list-style: none;
}

.pagination {
  display: flex;
  float: left;
  width: 374px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pagination li {
  margin-right: 5px;
}

.pagination li a {
  text-decoration: none;
  color: $black;
  background-color: ;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination li a.active {
  background-color: $flush-orange;
  color: $white;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .gallery-cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((336px * 2) + 32px);
    height: 494px;
    gap: 32px;
  }
  .film-card {
    width: 336px;
    height: 494px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
  .gallery-cards {
    width: calc((395px * 3) + 95px);
    margin: 0px;
    gap: 32px 16px;
  }
  .film-card {
    width: 395px;
    height: 643px;
  }
}
