:root {
  --page: 000000;
  --page-background: F7F7F7;
  --active-page: FF6B08;
  --page-active: FFFFFF;
}

.pagination {
  display: flex;
  float: left;
  width: 374px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pagination li {
  margin-right: 5px;
}

.pagination li a {
  text-decoration: none;
  color: var(--page);
  background-color: var(--page-background);
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination li a.active {
  background-color: var(--active-page);
  color: var(--page-active);
}
