*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: sans-serif;
}

//----------Tutaj trzeba dodać jeszcze trzcionki -------------
