@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  color: #ff6b08;
  background-color: #e5e5e5;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: #000;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: sans-serif;
}

:root {
  --background: #fff;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  background-color: var(--background);
}

.gallery-cards {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  margin: 0 auto;
}

.film-card {
  width: 280px;
  height: 443px;
  background-color: black;
  list-style: none;
}

.film-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  padding-top: 8px;
}

.film-title {
  color: #000;
  text-transform: uppercase;
}

.film-info {
  color: #ff6b08;
}

.film-rating {
  border-radius: 5px;
  width: 36px;
  height: 16px;
  background: #ff6b01;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #fff;
  padding: 1 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .gallery-cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    height: 494px;
    gap: 32px;
  }
  .film-card {
    width: 336px;
    height: 494px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
  .gallery-cards {
    width: 1280px;
    margin: 0px;
    gap: 32px 16px;
  }
  .film-card {
    width: 395px;
    height: 643px;
  }
  .film-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    padding-top: 12px;
  }
  .film-title {
    color: #000;
    text-transform: uppercase;
  }
  .film-info {
    color: #ff6b08;
  }
  .film-rating {
    width: 40px;
    height: 20px;
    padding: 3 12px;
  }
}
.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #f7f7f7;
  color: #545454;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.footer-icon {
  fill: #ff6b08;
  padding: 0 5px;
}

.footer-link {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Montserrat", "Inter", sans-serif;
}

/* Stylizacja okna modalnego */
.modal {
  /* Początkowo modal jest ukryty */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Przezroczyste tło */
}

.modal-header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Kontent modalny */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Szerokość w wersji mobilnej */
  text-align: center;
}

/* Stylizowanie przycisków zamknięcia */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Stylizacja okładki filmu */
.film-cover {
  border-radius: 5px;
  width: 240px;
  height: 357px;
}

.film-title {
  font-size: 32px;
}

.film-details {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8c8c8c;
}

/* Kontener dla przycisków */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Przyciski */
.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
}/*# sourceMappingURL=index.css.map */