@use './vars' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  @include font;
  color: $flush-orange;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition: $standard;
}

a:hover,
a:focus {
  color: #000;
  transition-property: color;
  transition: $standard;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ol,
ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
