@use './vars' as *;

body {
  font-family: $main-font;
  color: $flush-orange;
  background-color: $bg;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition: $standard;
}

a:hover,
a:focus {
  color: #000;
  transition-property: color;
  transition: $standard;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
