@use './vars' as *;

@mixin smallmob {
  @media screen and (max-width: 310px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin font {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
}
