$bg: #e5e5e5;
$marker: #d3d3d3;
$bg-footer: #f7f7f7;
$black: #000000;
$white: #ffffff;
$flush-orange: #ff6b08;
$rusty: #cc5606;
$modal-info: #8c8c8c;
$errors: #ff010b;
$backdrop-bg: rgba(46, 47, 66, 0.4);
$modal-shadow: rgba(0, 0, 0, 0.2);
$standard: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;

$text-footer: #545454;
$bg-shadow: rgba(0, 0, 0, 0.56);
