<!-- html -->
<header>
  <div class="header-flex">
    <nav>
      <div class="logo-div">
        <a class="header-logo" href="./home.html">
          <svg class="header-logo-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-home"></use>
          </svg>
          <p class="header-logo-text">Filmoteka</p>
        </a>
      </div>
    </nav>
    <div class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-list-element">HOME</li>
        <li class="header-menu-list-element">MY LIBRARY</li>
      </ul>
    </div>
  </div>
  <div class="movie-searcher">
    <form class="movie-searcher-form">
      <input type="text" name="movie-name" placeholder="Movie search" />
      <svg class="movie-searcher-icon" width="12px" height="12px">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </form>
  </div>
</header>
