<header class="header-library">
  <div class="header-flex-">
    <nav class="header-nav">
      <div class="logo-div">
        <a class="header-logo" href="./partials/home.html">
          <svg class="header-logo-icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-home"></use>
          </svg>
          <p class="header-logo-text">Filmoteka</p>
        </a>
      </div>
      <div class="header-menu">
        <ul class="header-menu-list">
          <a href="./partials/home.html"
            ><li class="header-menu-list-element">HOME</li></a
          >
          <a href="./partials/myLibrary.html"
            ><li class="header-menu-list-element">MY LIBRARY</li></a
          >
        </ul>
      </div>
    </nav>
    <div class="library-header-buttons">
      <button type="button" class="library-header-button watched">
        WATCHED
      </button>
      <button type="button" class="library-header-button queue">QUEUE</button>
    </div>
  </div>
</header>
