<header class="head-bg" id="head-bg">
  <div class="head container">
    <div class class="header-flex">
      <nav class="header-nav">
        <div class="logo-div">
          <a class="header-logo" href="./index.html">
            <div class="logo-icon-container">
              <svg class="header-logo-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-home"></use>
              </svg>
            </div>
            <div class="logo-text-container">
              <p class="header-logo-text">Filmoteka Mega Kota</p>
            </div>
          </a>
        </div>
        <div class="header-menu">
          <ul class="header-menu-list">
            <li class="header-menu-list-element" id="myliblary-menu">
              MY LIBRARY
            </li>
            <li class="header-menu-list-element" id="signup-menu">SIGN UP</li>
            <li class="header-menu-list-element" id="logout-menu">LOGOUT</li>
            <li class="header-menu-list-element" id="login-menu">LOGIN</li>
            <li class="header-menu-list-element-active">HOME</li>
          </ul>
          <ul>
            <li class="header-menu-list-element" id="email-menu"></li>
          </ul>
        </div>
      </nav>
      <div class="movie-searcher">
        <form class="movie-searcher-form">
          <input
            class="movie-searcher-input"
            type="text"
            name="movie-name"
            placeholder="Movie search"
          />

          <button type="submit" class="submit-icon">
            <svg class="movie-searcher-icon" width="12px" height="12px">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="notification-container">
        <p class="query-notification"></p>
      </div>
    </div>
  </div>
</header>
