<div id="loginModal" class="backdrop is-hidden">
    <div class="modal">
        <div class="modal-content">
            <button type="button" class="modal-close-button" id="loginModalCloseButton">
        <svg class="icon-close">
    <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
            <div>
                <form>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email-input" placeholder="Enter email" required />
                    </div>
                    <div>
                        <label for="password">Hasło:</label>
                        <input type="password" id="password-input" placeholder="Enter password" required />
                    </div>
                    <button type="submit" id="login-submit">
            Login
        </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>