<div id="loginModal" class="backdrop is-hidden">
  <div class="logon-modal">
    <div class="logon-modal-content">
      <button
        type="button"
        class="logon-close-button"
        id="loginModalCloseButton"
      >
        <svg class="icon-logon-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <div>
        <div>
          <a href="./index.html" class="logon-logo">
            <div>
              <svg class="logo-icon" width="36px" height="36px">
                <use href="./images/icons.svg#icon-home"></use>
              </svg>
            </div>
            <div class="logon-title">FILMOTEKA</div>
          </a>
        </div>
        <form>
          <div class="logon-window">
            <label for="email">Email:</label>
            <input
              class="input-box"
              type="email"
              id="email-input"
              placeholder="Enter email"
              required
            />
          </div>
          <div class="logon-window">
            <label for="password">Hasło:</label>
            <input
              class="input-box"
              type="password"
              id="password-input"
              placeholder="Enter password"
              required
            />
          </div>
          <div class="logon-buttons">
            <button type="submit" id="login-submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
