<div id="filmModal" class="backdrop is-hidden">
  <div class="modal">
    <div class="modal-content">
      <button type="button" class="modal-close-button">
        <svg class="icon-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="img-container">
        <img
          id="cover-image"
          class="cover-image"
          src="./images/film@1x.jpg"
          alt="Okładka filmu"
        />
      </div>
      <div class="film-details-container">
        <h2 id="movie-title" class="modal-film-title"></h2>
        <div class="film-info">
          <dl>
            <dt class="film-details">Vote / Votes:</dt>
            <dd id="film-votes" class="film-details-style"></dd>
            <dd id="film-votes-secondary" class="film-details-style2"></dd>
          </dl>
          <dl>
            <dt class="film-details">Popularity:</dt>
            <dd id="film-popularity" class="film-details-style"></dd>
          </dl>
          <dl>
            <dt class="film-details">Original Title:</dt>
            <dd id="film-original-title" class="film-details-style"></dd>
          </dl>
          <dl>
            <dt class="film-details">Genre:</dt>
            <dd id="film-genre" class="film-details-style"></dd>
          </dl>
        </div>
        <p id="film-description" class="text-modal"></p>
        <div class="modal-buttons">
          <button>Add to Watched</button>
          <button>Add to Queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
