<div id="filmModal" class="backdrop is-hidden">
  <div class="modal">
    <div class="modal-content">
      <button type="button" class="modal-close-button">
        <svg width="16" height="16" class="icon-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="img-container">
        <img
          id="cover-image"
          class="cover-image"
          src="./images/film@1x.jpg"
          alt="Okładka filmu"
        />
      </div>
      <h2 id="movie-title" class="title-modal"></h2>
      <div class="film-details-container">
        <p>
          <span class="film-details"> Vote / Votes: </span>
          <span id="film-votes" class="film-details-style"></span>
          <span id="film-votes-secondary" class="film-details-style"></span>
        </p>
        <p>
          <span class="film-details"> Popularity:</span>
          <span id="film-popularity" class="film-details-style"></span>
        </p>
        <p>
          <span class="film-details"> Original Title:</span>
          <span id="film-original-title" class="film-details-style"></span>
        </p>
        <p>
          <span class="film-details">Genre:</span>
          <span id="film-genre" class="film-details-style"></span>
        </p>
      </div>
      <p id="film-description" class="text-modal"></p>
      <div class="modal-buttons">
        <button>Add to Watched</button>
        <button>Add to Queue</button>
      </div>
    </div>
  </div>
</div>
