<!-- <div class="films-gallery-home">
  <ul class="gallery-cards"> -->
<!-- <li class="film-card"> -->
<!-- Szablon karty jednego filu - robi Andrzej -->
<!-- <div class="film-cover"> -->
<!-- <img class="film-img"  -->
<!-- src="${poster_path}" -->
<!-- alt="${original_title}"  -->
<!-- /> -->
<!-- </div> -->
<!-- <div class="film-desc"> -->
<!-- <p class="film-title">${original_title}</p> -->
<!-- <p class="film-info">${genre_ids} | ${release_date}<span class="film-rating">${vote_average}</span></p> -->
<!-- </div> -->
<!-- </li> -->
<!-- </li> -->
<!-- </ul>
</div> -->

<div>aaa</div>
