<div id="signupModal" class="backdrop is-hidden">
  <div class="signup-modal">
    <div class="signup-modal-content">
      <button
        type="button"
        class="signup-close-button"
        id="signupModalCloseButton"
      >
        <svg class="icon-signup-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div>
        <form>
          <div>
            <label for="email-input-signup" id="signup-email">Email:</label>
            <input
              type="email"
              id="email-input-signup"
              placeholder="Enter email"
              required
            />
          </div>
          <div>
            <label for="password-input-signup" id="signup-password"
              >Password:</label
            >
            <input
              type="password"
              id="password-input-signup"
              placeholder="Enter password"
              required
            />
          </div>
          <div>
            <label for="confirmPassword-input-signup" id="signup-password-conf"
              >Confirm Password:</label
            >
            <input
              type="password"
              id="confirmPassword-input-signup"
              placeholder="Confirm password"
              required
            />
          </div>
          <div class="signup-buttons">
            <button type="submit" id="signup-submit">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
