<div id="studentsModal" class="backdrop is-hidden">
  <div class="students-modal">
    <div class="students-modal-content">
      <button
        type="button"
        class="students-close-button"
        id="studentModalCloseButton"
      >
        <svg class="icon-students-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="the-whole-thing">
        <div class="students-logo">
          <a href="./index.html" class="students-logo"> </a>
        </div>
        <div class="students-image">
          <img src="./images/fmk.jpg" alt="Description of Image" />
        </div>
        <div class="students-names">
          <ol>
            <li>Michal Gruchlik - Team leader</li>
            <li>Joanna Pińczuk</li>
            <li>Julia Bień</li>
            <li>Monika Tajchert</li>
            <li>Sylwia Matusik-Słomka</li>
            <li>Andrzej Fałkowski</li>
            <li>Dominika Nowak</li>
            <li>POD PATRONATEM: Dawid Krupski</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
