<div id="students-names-modal" class="backdrop is-hidden">
  <div class="students-names-modal-content">
    <button
      type="button"
      class="students-close-button"
      id="studentsModalCloseButton"
    >
      <svg class="icon-signup-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="logo-students-modal">
      <a href="./index.html" class="logon-logo">
        <div>
          <svg class="logo-icon">
            <use href="./images/icons.svg#icon-home"></use>
          </svg>
        </div>
        <div class="logon-title">FILMOTEKA MEGA KOTA</div>
      </a>
    </div>
    <div class="students-names"></div>
  </div>
</div>
