@use './../utils/vars' as *;
.header-logo-text {
  display: none;
}
.header {
  background-color: #c4c4c4;
  background-image: url(https://s3-alpha-sig.figma.com/img/89fe/98ac/249d9ce8c5d0823ae112491e5627c631?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KPOdq8oUESI6KpuCZMONnO703ikpQuzfDgPLZGbawglEU1mUuAtk~neE~DnfnM2BUM4u0w0IgXU3iXgLT70MOgcoiM9RtwkVZNoeHo2A4asJyCPBX1VWH4vef8ZSXbP85QRCEQtCfr-c7Ygqf4FTCnd6rejMzvkimFdlQXU3JvexS1svrXaAtTkyKPFyCBEsVGuPFd9MLHW9Hd9iAWq3yfeqkcm5x4SZaiKSSXnZ~bsKoOU~K~KHSpMjzFzIDtu43oKijd3rW8ZtuiMBgU8yZG9DNOu46Fxtwn07iXfb6l3P6hmJEI7ZorTLOCzNSOgV4ZM7My2xTC4IU84By1smCw__);
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
}
.header-flex {
  display: flex;
  margin: 40px 20px 92px;
  min-height: 98px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 57px;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-list-element {
  font-family: $main-font;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.header-logo-icon {
  fill: none;
  stroke: white;
}
.movie-searcher-icon {
  fill: none;
  stroke: white;
}
.movie-searcher {
  display: flex;
  justify-content: center;
}
.movie-searcher-form {
  display: flex;
  justify-content: space-between;
}
