.header-logo-text {
  display: none;
}

.header {
  background-color: #c4c4c4;
  background-image: url('./../images/mobile-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  padding: 40px 20px 92px 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url('./../images/mobile-main-bg@2x.jpg');
  }
}

.header-flex {
  display: flex;
  min-height: 98px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-list-element {
  font-family: $main-font;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.header-logo-icon {
  fill: none;
  stroke: white;
}

.movie-searcher-icon {
  fill: none;
  stroke: white;
}

.movie-searcher {
  display: flex;
  justify-content: center;
}

.movie-searcher-form {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  min-width: 280px;
}

.movie-searcher-input {
  background-color: transparent;
  width: 100%;
}

.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  padding-top: 5px;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url('./../images/tablet-main-bg.jpg');
    padding: 40px 32px 81px 32px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url('./../images/tablet-main-bg@2x.jpg');
    }
  }

  .header-logo-text {
    display: inline-block;
    color: white;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 500;
  }

  .movie-searcher-form {
    min-width: 336px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: url('./../images/desktop-main-bg.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url('./../images/desktop-main-bg@2x.jpg');
    }
  }

  .movie-searcher-form {
    min-width: 394px;
  }
}
