.header-logo-text {
  display: none;
  @include tablet {
    display: inline-block;
    color: $white;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
  }
}

.head-bg {
  background-color: $white;
  display: block;
}

.head {
  background-image: url('./../images/mobile-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  padding: 40px 20px 92px 20px;
  max-width: 768px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('./../images/mobile-main-bg@2x.jpg');
  }

  @include smallmob {
    width: 280px;
  }

  @include tablet {
    // @media (min-width: 768px) and (max-width: 1024px) {
    background-image: url('./../images/tablet-main-bg.jpg');
    max-width: 1280px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('./../images/tablet-main-bg@2x.jpg');
    }
    // }
  }
  @include desktop {
    // @media (min-width: 1024px) {
    background-image: url('./../images/desktop-main-bg.jpg');
    max-width: 2200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('./../images/desktop-main-bg@2x.jpg');
    }
  }
  // }
}

.header-flex {
  display: flex;
  min-height: 98px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-list {
  display: flex;
  gap: 15px;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    gap: 40px;
  }
}

.header-menu-list-element {
  font-family: $main-font;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  color: $white;
  transition-property: color;
  transition: $standard;
  cursor: pointer;
  @include smallmob {
    font-size: 8px;
  }
}

.header-menu-list-element:hover,
.header-menu-list-element:focus {
  color: $marker;
}

.header-menu-list-element-active {
  color: $marker;
  cursor: none;
  @include smallmob {
    font-size: 8px;
  }
}

.header-menu-list-element-active::after {
  content: '';
  justify-content: center;
  height: 3px;
  width: 100%;
  background-color: $errors;
  display: flex;
  transform: translateY(3px);
  transition-property: background-color;
  transition: $standard;
}

.header-menu-list-element:hover::after,
.header-menu-list-element:focus::after {
  content: '';
  justify-content: center;
  height: 3px;
  width: 100%;
  background-color: $errors;
  display: flex;
  transform: translateY(3px);
  transition-property: background-color;
  transition: $standard;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  fill: none;
  stroke: $white;
}

.movie-searcher-icon {
  fill: none;
  stroke: $white;
}

.movie-searcher {
  display: flex;
  justify-content: center;
}

.movie-searcher-form {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $white;
  min-width: 280px;

  @include tablet {
    min-width: 334px;
  }

  @include desktop {
    min-width: 394px;
  }

  @include smallmob {
    width: 100px;
  }
}
.notification-container {
  margin-top: 20px;
  text-align: center;
}
.query-notification {
  color: $errors;
  font-size: 14px;
  font-weight: 400;
  @include smallmob {
    font-size: 8px;
  }
}
// .movie-searcher {
//   @include smallmob {
//     width: 20px;
//     display: inline;
//   }
// }
.movie-searcher-input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-bottom: 6px;
  color: $white;
  font-size: 14px;
  @include smallmob {
    font-size: 8px;
  }
}
button.submit-icon {
  background-color: transparent;
}
.movie-searcher-input::placeholder {
  color: $white;
  opacity: 1;
}

.movie-searcher-input:hover::placeholder {
  color: $white;
}

.movie-searcher-input:focus {
  outline-width: 0;
  background-color: transparent;
  outline: none;
}

.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
  padding-bottom: 6px;
}

// @media screen and (min-width: 768px) {
// .header {
//   background-image: url('./../images/tablet-main-bg.jpg');
//   padding: 40px 32px 81px 32px;
// }
// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .header {
//     background-image: url('./../images/tablet-main-bg@2x.jpg');
// }
// }

//   .header-logo-text {
//     display: inline-block;
//     color: $white;
//     font-family: $main-font;
//     font-size: 30px;
//     font-weight: 500;
//     margin-left: 10px;
//   }

//   .movie-searcher-form {
//     min-width: 336px;
//   }
// }

// @media screen and (min-width: 1024px) {
// .header {
//   background-image: url('./../images/desktop-main-bg.jpg');
// }

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .header {
//     background-image: url('./../images/desktop-main-bg@2x.jpg');
//   }
// }

//   .movie-searcher-form {
//     min-width: 394px;
//   }
// }
