.container {
  max-width: 320px;
  margin: 0 auto;
  background-color: none;
}
.films-gallery-home {
  display: flex;
  flex-direction: column;
}
.gallery-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  margin: 0 auto;
}
.film-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 280px;
  height: 440px;
  background-color: $white;
  list-style: none;
  cursor: pointer;
  transition: transform $standard;

  @include smallmob {
    width: 80%;
    height: auto;
    padding-left: 20px;
  }
}

.film-card:hover {
  transform: scale(1.03);
  // box-shadow: 6px 6px 5px 2px rgba(0, 0, 0, 0.3);
  // border-radius: 5px;
}
.film-img {
  border-radius: 5px;
  height: 402px;
  width: 280px;
  @include smallmob {
    width: 80%;
    height: auto;
  }
}
.card-film-title {
  font-family: $main-font;
  color: $black;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.film-info span {
  color: $white;
  text-align: center;
  background-color: $flush-orange;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 16px;
  padding: 10px 22px;
  line-height: 16px;
  display: flex;
}
.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 40px 0;
}
.pagination li {
  margin: 0 auto;
}
.pagination li a {
  text-decoration: none;
  color: $black;
  background-color: $white;
  border-radius: 5px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.pagination li a.pag-a {
  background-color: $bg-footer;
  color: $black;
}
.pagination li a.active {
  background-color: $flush-orange;
  color: $white;
}
.film-desc .film-info {
  font-family: $main-font;
  color: $flush-orange;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.film-info span {
  color: $white;
  text-align: center;
  background-color: $flush-orange;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 16px;
  padding: 8px 22px;
  line-height: 16px;
  display: flex;
}
.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 40px 0;
}
.pagination li {
  margin: 0 auto;
}
.pagination li a {
  text-decoration: none;
  color: $black;
  background-color: $white;
  border-radius: 5px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.pagination li a.pag-a {
  background-color: $bg-footer;
  color: $black;
}
.pagination li a.active {
  background-color: $flush-orange;
  color: $white;
}
.card-rating-home {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .gallery-cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((336px * 2) + 32px);
    gap: 32px;
    padding-top: 59px;
  }
  .film-card {
    width: 336px;
    height: 494px;
  }
  .film-img {
    height: 455px;
    width: 336px;
  }
  .pagination {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
  .gallery-cards {
    width: calc((395px * 3) + 95px);
    gap: 32px 16px;
  }
  .film-card {
    width: 395px;
    height: 643px;
  }
  .film-img {
    height: 574px;
    width: 395px;
  }
  .card-film-title {
    font-size: 22px;
  }
  .film-desc .film-info {
    font-size: 18px;
  }
  .card-rating-home {
    font-size: 14px;
  }
}
