@use './../utils/globals' as *;

.logon-modal {
  position: fixed;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%) scale(1);
  width: 220px;
  height: 940px;
  max-height: 90%;
  max-width: 90%;
  transition: transform $standard;

  @include tablet {
    width: 304px;
    height: 552px;
  }

  @include desktop {
    width: 406px;
    height: 558px;
  }

  @include smallmob {
    width: 80%;
  }
}

.logon-modal-content {
  box-sizing: content-box;
  background-color: $white;
  margin: 0;
  padding: 40px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  max-height: 940px;

  @include tablet {
    margin: 0;
    padding: 40px 36px;
    flex-direction: row;
    max-width: 704px;
    max-height: 552px;
  }

  @include desktop {
    margin: 0;
    padding: 80px 12px;
    flex-direction: row;
    max-width: 806px;
    max-height: 558px;
  }
}

.logon-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  padding: 0;
  transition: fill $standard;
  fill: $black;

  @include tablet {
    width: 26px;
    height: 26px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.logon-close-button:hover,
.logon-close-button:focus {
  fill: $modal-info;
}

.icon-logon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  padding: 0;
  transition: fill $standard;
  fill: $black;

  @include tablet {
    width: 26px;
    height: 26px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.icon-logon-close:hover,
.icon-logon-close:focus {
  fill: $modal-info;
}

.logon-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logon-modal-content .logon-window label {
  margin-top: 10px;
  color: $black;
}

.input-box {
  width: 100%;
  max-width: 240px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid $black;
  color: red;
  font-size: 12px;
  font-weight: 500;
  padding: 0 0 0 12px;
  position: relative;
  outline: none;
  transition-property: border;
  transition: $standard;
}
.logon-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 0;

  @include tablet {
  }

  @include desktop {
  }

  @include smallmob {
    max-width: 80%;
  }
}

.logon-buttons button {
  line-height: 1.33333;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  width: 110px;
  height: 44px;
  transition: background-color $standard;

  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
  }

  @include smallmob {
    font-size: 10px;
    padding: 5px;
  }
}

.logon-buttons button:hover {
  background: $flush-orange;
  color: $white;
  border: none;
}
