@use './../utils/globals' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-bg;
  z-index: 1;
  transition-property: transform, opacity, visibility;
  transition: $standard;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%) scale(1);
  width: 280px;
  height: 940px;
  max-height: 90%;
  max-width: 90%;
  transition: transform $standard;

  @include tablet {
    width: 704px;
    height: 552px;
  }

  @include desktop {
    width: 806px;
    height: 558px;
  }

  @include smallmob {
    width: 80%;
  }
}

.modal-content {
  box-sizing: content-box;
  background-color: $white;
  margin: 0;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  max-width: 280px;
  max-height: 940px;

  @include tablet {
    margin: 0;
    padding: 40px 36px;
    flex-direction: row;
    max-width: 704px;
    max-height: 552px;
  }

  @include desktop {
    margin: 0;
    padding: 40px 12px;
    flex-direction: row;
    max-width: 806px;
    max-height: 558px;
  }
}

.icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  padding: 0;
  transition: fill $standard;
  fill: $black;

  @include tablet {
    width: 26px;
    height: 26px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.icon-close:hover,
.icon-close:focus {
  fill: $modal-info;
}

.img-container {
  margin: 28px auto 0;
  padding: 0;
  min-width: 240px;
  min-height: 357px;

  @include tablet {
    width: 264px;
    height: 373px;
    margin: 0 68px 0 0;
  }

  @include desktop {
    width: 375px;
    height: 478px;
    margin: 0;
    margin: 0 16px 0 0;
  }

  @include smallmob {
    width: 80%;
    min-height: 80%;
  }
}

.cover-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;

  @include smallmob {
    width: 80%;
  }
}

.film-details-container {
  margin: 0;
  padding: 0;
}
.modal-film-title {
  font-size: 20px;
  font-weight: 500;
  color: $black;
  margin: 20px 0;
  padding: 0;
  text-align: start;

  @include tablet {
    margin: 0 0 20px 0;
  }

  @include desktop {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}

.film-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  gap: 8px;
}

.film-info dl {
  display: contents;
}

.film-info dt,
.film-info dd {
  margin: 0;
  padding: 0;
}

.film-info dt {
  grid-column: 1;
  color: $modal-info;
  margin-right: 31px;

  @include tablet {
    margin-right: 33px;
  }

  @include desktop {
    margin-right: 77px;
  }
}

.film-info dd {
  grid-column: 2;
  color: $black;
}

.dd-container {
  display: flex;
  grid-column: 2;
  gap: 3px;
}

.dd-container dd:first-child {
  color: $white;
  background-color: $flush-orange;
  border-radius: 4px;
  text-align: center;
  width: 30px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;
}

.dd-container .votes-divider {
  color: $modal-info;
}

.film-details-container h3 {
  margin: 20px 0 8px 0;
  font-weight: 500;
  font-size: 12px;
}

.text-modal {
  line-height: 1.66;
  color: $black;
  text-align: left;
  max-width: 240px;

  @include tablet {
    max-width: 264px;
  }

  @include desktop {
    max-width: 391px;
  }
}

.modal-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0;

  @include tablet {
    justify-content: left;
  }

  @include desktop {
    margin-left: 8px;
  }
}

.modal-buttons button {
  line-height: 1.33333;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  width: 110px;
  height: 44px;
  transition: background-color $standard;
}

.modal-buttons button:hover {
  background: $flush-orange;
  color: $white;
  border: none;
}
