@use './../utils/globals' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-bg;
  z-index: 1;
  transition-property: transform, opacity, visibility;
  transition: $standard;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Stylizacja okna modalnego */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%) scale(1);
  max-width: 280px;
  height: 940px;
  background: $white;
  transition: transform $standard;
  overflow: auto;

  @include tablet {
    max-width: 704px;
    height: 552px;
  }

  @include desktop {
    max-width: 806px;
    height: 558px;
  }
}

/* Kontent modalny */

.modal-content {
  background-color: $white;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.img-container {
  padding-top: 48px;
  max-width: 240px;
  max-height: 357px;
}

/* Stylizowanie przycisków zamknięcia */

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: background-color $standard, border $standard;
}

.close:hover,
.close:focus {
  color: $black;
  text-decoration: none;
}

.icon-close {
  transition: fill $standard;
  stroke: $black;
}

/* Stylizacja okładki filmu */

.cover-image {
  border-radius: 5px;
  width: 240px;
  height: 357px;
  text-align: center;
  justify-content: center;
}

.title-modal {
  font-size: 20px;
  color: $black;
  margin: 20px;
}

.film-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.film-details-style {
  line-height: 1.33333;
  color: $black;
  margin: 4px 0;
}

.film-details {
  line-height: 1.33333;
  color: $modal-info;
}

.text-modal {
  line-height: 1.66667;
  color: $black;
  margin-top: 10px;
  text-align: justify;
}

/* Kontener dla przycisków */

.modal-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 14px;
}

/* Przyciski */

.modal-buttons button {
  line-height: 1.33333;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  width: 110px;
  height: 44px;
  transition: background-color $standard;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
}
