@use './../utils/globals' as *;
@use './../utils/mixins' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-bg;
  z-index: 1;
  transition-property: transform, opacity, visibility;
  transition: $standard;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Stylizacja okna modalnego */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%) scale(1);
  width: 280px;
  height: 940px;
  background: $white;
  transition: transform $standard;
  overflow: hidden;

  @include tablet {
    width: 704px;
    height: 552px;
  }

  @include desktop {
    width: 806px;
    height: 558px;
  }
}

/* Kontent modalny */

.modal-content {
  background-color: $white;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;

  @include tablet {
    padding: 40px 36px;
    flex-direction: row;
  }

  @include desktop {
    padding: 40px 12px;
    flex-direction: row;
  }
}

.img-container {
  box-sizing: content-box;
  margin-top: 28px;
  width: 240px;
  height: 357px;

  @include tablet {
    width: 264px;
    height: 373px;
    margin: 0 68px 0 0;
  }

  @include desktop {
    width: 375px;
    height: 478px;
    margin: 0;
    margin: 0 16px 0 0;
  }
}

/* Stylizowanie przycisków zamknięcia */

.icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 26px;
  height: 26px;
  padding: 0;
  transition: fill $standard;
  fill: $black;

  @include tablet {
    width: 26px;
    height: 26px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.icon-close:hover,
.icon-close:focus {
  fill: $modal-info;
}

/* Stylizacja okładki filmu */

.cover-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal-film-title {
  font-size: 20px;
  color: $black;
  margin: 0;
  padding: 0;

  @include desktop {
    font-size: 30px;
  }
}

.film-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.film-details-style {
  line-height: 1.33333;
  color: $black;
  margin: 4px 0;
}

.film-details {
  line-height: 1.33333;
  color: $modal-info;
}

.text-modal {
  line-height: 1.66667;
  color: $black;
  margin-top: 10px;
  text-align: justify;
}

/* Kontener dla przycisków */

.modal-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 14px;
}

/* Przyciski */

.modal-buttons button {
  line-height: 1.33333;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  width: 110px;
  height: 44px;
  transition: background-color $standard;
}
